<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h1 id="welcomeMess">Welcome, {{user.name}}! Please tell us more about your practice so we can pair you with the perfect clients. {{!--
        <span class="member-name"></span> --}}
      </h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <ul id="membersTabs" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" id="portfolio-link">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="strengths-link">Strengths</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-link">Profile</a>
            </li>


          </ul>
        </div>
        <div class="col">
          <div class="text-right">
            <a class="btn btn-secondary btn-sm" href="/artist/{{user.id}}" role="button">View Your Page</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body d-none" id="profile">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <div id="img-container">
            <div class="ratio img-responsive img-circle" style="background-image: url({{user.profilePicture}};">
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-6 col-sm-12 col-12 topmargin">
          <h4 class="dark">Add A Profile Picture</h4>
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">
                <span id="profilePicTemp">Choose file</span>
              </label>
            </div>
            {{!--
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div> --}}
            {{!-- <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="inputGroupFile02">Upload</button>
            </div> --}}
          </div>
        </div>
      </div>
      <h4 class="dark topmargin">Add A Short Bio</h4>
      <div class="form" id="moveSave2">
        <div class="form-group">
          <textarea class="form-control" id="shortBio" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="bioSave" data-toggle="modal" data-target="#myModal">Save</button>

        <!-- Modal to alert upload of Bio-->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">congratulations</h4>
              </div>
              <div class="modal-body">
                <p>You've successfully uploaded a bio for your portfolio.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="strengths" class="card-body d-none">
      <div class="row">
        <div class="col">
          <h4 class="dark">Which do you prefer to work with?</h4>
          <div class="row align-middle" id="seachrow2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
              <div class="radioSelect">
                <label class="dark">
                  <input type="radio" class="radio-inline " name="radios" value="1">
                  <span class="outside">
                    <span class="inside "></span>
                  </span>Color</label>
                <label class="dark">
                  <input type="radio" class="radio-inline dark" name="radios" value="0">
                  <span class="outside">
                    <span class="inside dark"></span>
                  </span>Black & White</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="dark">What are your three strongest tattoo styles?</h4>
        </div>
      </div>
      <div class="row" id="catFeed">

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="AmericanTraditional" value="American Traditional">
              <img class="card-img-top" src="/images/icons/amerTrad-sm.jpg" alt="American Traditional">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Lettering" value="Lettering">
              <img class="card-img-top" src="/images/icons/lettering-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="NewSchool" value="New School">
              <img class="card-img-top" src="/images/icons/newSchool-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Realism" value="Realism">
              <img class="card-img-top" src="/images/icons/realism-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Watercolor" value="Watercolor">
              <img class="card-img-top" src="/images/icons/watercolor-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Portraiture" value="Portraiture">
              <img class="card-img-top" src="/images/icons/port-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Blackwork" value="Blackwork">
              <img class="card-img-top" src="/images/icons/blackwork-sm.jpg">
            </div>
          </label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Geometric" value="Geometric">
              <img class="card-img-top" src="/images/icons/geometric-sm.jpg">
            </div>
          </label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" id="Illustrative" value="Illustrative">
              <img class="card-img-top" src="/images/icons/illustrative-sm.jpg">
            </div>
          </label>
        </div>
      </div>

      <div class="row" id="moveSave">
        <div class="container">
          <button type="submit" class="btn btn-primary" id="saveStrengths">Save</button>
        </div>
      </div>
    </div>
    
    

    <div class="card-body" id="portfolio">
      <div class="row mb40">
        <div class="col">
          <img class="card-img" src="{{user.portfolio_1}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_2}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_3}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_4}}" alt="Card image cap">
        </div>
      </div>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" data-toggle="modal" data-target="#modalUpload" id="inputGroupFile04">
          <label class="custom-file-label" for="inputGroupFile04">
            <span id="tempFile">Choose file</span>
        </div>
        <!-- Modal to alert waiting period for image upload -->
        <div class="modal fade" id="modalUpload" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                {{!--
                <button type="button" class="close" data-dismiss="modal">&times;</button> --}}
                <h4 class="modal-title">Success</h4>
              </div>
              <div class="modal-body">
                <p>
                  <h6>Please wait until the image preview has loaded before you upload the next photo.</h6>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            </label>
          </div>
        </div>
      </div>
    </div>