<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h1 id="welcomeMess">Welcome, {{user.name}}! Please tell us more about your practice so we can pair you with the perfect clients.
        {{!-- <span class="member-name"></span> --}}
      </h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <ul id="membersTabs" class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link  active" id="profile-link">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="strengths-link">Strengths</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="portfolio-link">Portfolio</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <div class="text-right">
            <a class="btn btn-secondary btn-sm" href="/artist" role="button">View Your Page</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body " id="profile">
      <h4 class="dark">Add A Profile Picture</h4>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02">
          <label class="custom-file-label" for="inputGroupFile02">
            <span id="profilePicTemp">Choose file</span>
          </label>
        </div>
        {{!--
        <div class="input-group-append">
          <span class="input-group-text" id="">Upload</span>
        </div> --}}
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFile02">Upload</button>
        </div>
      </div>
      <h4 class="dark">Add A Short Bio</h4>
      <div class="form" id="moveSave2">
        <div class="form-group">
          <textarea class="form-control" id="shortBio" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="bioSave">Save</button>
      </div>
    </div>
    <div class="card-body d-none" id="strengths">
      <div class="row">
        <div class="col">
          <h4 class="dark">Which do you prefer to work with?</h4>
          <div class="row align-middle" id="seachrow2">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
              <div class="radioSelect">
                <label class="dark">
                  <input type="radio" class="radio-inline " name="radios" value="1">
                  <span class="outside">
                    <span class="inside "></span>
                  </span>Color</label>
                <label class="dark">
                  <input type="radio" class="radio-inline dark" name="radios" value="2">
                  <span class="outside">
                    <span class="inside dark"></span>
                  </span>Black & White</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="dark">What are your three strongest tatto styles?</h4>
        </div>
      </div>
      <div class="row" id="catFeed">

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/amerTrad-sm.jpg" alt="American Traditional">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/lettering-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/newSchool-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/realism-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/watercolor-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/port-sm.jpg">
            </div>
          </label>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/blackwork-sm.jpg">
            </div>
          </label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/geometric-sm.jpg">
            </div>
          </label>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12">
          <!-- team-img -->
          <label>
            <div class="card">
              <input class="single-checkbox" type="checkbox" name="category2" value="1">
              <img class="card-img-top" src="/images/icons/illustrative-sm.jpg">
            </div>
          </label>
        </div>
      </div>

      <div class="row" id="moveSave">
        <div class="container">
          <button type="submit" class="btn btn-primary" id="bioSave">Save</button>
        </div>
      </div>
    </div>

    <div class="card-body d-none" id="portfolio">
      <div class="row mb40">
        <div class="col">
          <img class="card-img" src="{{user.portfolio_1}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_2}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_3}}" alt="Card image cap">
        </div>
        <div class="col">
          <img class="card-img" src="{{user.portfolio_4}}" alt="Card image cap">
        </div>
      </div>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04">
          <label class="custom-file-label" for="inputGroupFile04">
            <span id="tempFile">Choose file</span>
          </label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFile04">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>